.content {
    width: 80vw;
    margin-left: 20vw;
    margin-top: 2rem;
}

.main-header {
    text-align: center;
}

.delete-form {
margin: 5rem;
}

.add-form {
    margin: 5rem;
} 

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.gallery img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.delete {
    margin-top: 10rem;
}

@media screen and (max-width: 1660px) {
    .button1 {
            width: 100% !important;
        }
}


@media screen and (max-width: 1400px) {
    .content {
        width: 70vw;
        margin-left: 30vw;
    }

    .gallery {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 1000px) {
    .gallery {
        grid-template-columns: 1fr;
        place-items: center;
    }
}

@media screen and (max-width: 450px) {}
