.content {
    width: 80vw;
    min-height: 100vh;
    margin-left: 20vw;
    margin-top: 2rem;
}

.main-heading {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    margin-top: 5rem;
}

td {
    text-align: center;
    min-width: 9.5rem;
}

input {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding: 0.5rem;
    border-radius: 0;
    border: solid 0.2rem black;
}

.delete-service {
    width: 100% !important;
    margin-top: 0 !important;
}

@media screen and (max-width: 620px) {
    .content {
        margin-left: 5rem !important;
    }
    td {
        min-width: 5rem;
        max-width: 5rem;
    }

    .button1 {
        min-width: 5rem;
    }

    .save-btn,
    .add-service {
        width: 60% !important;
    }
}

@media screen and (max-width: 350px) {
    .content {
        margin-left: 3.5rem !important;
    }
    td {
        min-width: 3rem;
        max-width: 3rem;
    }

    .save-btn,
    .add-service {
        width: 50% !important;
    }
}