.content {
    width: 80%;
    margin-left: 20%;
}

.partners-h1 {
    text-align: center;
    margin: 2rem;
}

.partners-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding: 5rem;
}

.partner-container {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.378);
    border-radius: 10px;
    padding: 1rem;
}

.add-partner-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin: 2rem 10rem;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.378);
    border-radius: 10px;
}

.add-partner-form input {
    width: 50%;
}

label {
    font-size: 0.9rem;

}

input {
    width: 100%;
    height: 2rem;
    border-radius: 5px;
    padding: 0.5rem;

}

.current-image {
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin: 0.5rem;
}

.delete-partner-btn {
    margin-left: 0;
    margin-top: 2rem;
}

@media screen and (max-width: 2120px) {
    .partners-grid {
        grid-template-columns: 1fr 1fr;
    }

}

@media screen and (max-width: 1400px) {

    .partners-grid {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 1245px) {
    .add-partner-form {
        margin: 2rem;
        padding: 1rem;
    }

        .add-partner-form input {
            width: 80%;
        }
}

@media screen and (max-width: 1000px) {
    .button1 {
        width: 100% !important;
    }
}

@media screen and (max-width: 450px) {
    .content {
        width: 100% !important;
        margin-left: 5rem !important;
    }

    .partners-grid {
        padding: 1rem;
    }
}