<header>
  <h2>
    Welldoers Admin <span><p>Developed by Carica Web</p></span>
  </h2>
  <nav>
    <div class="nav-container">
      <a class="nav-a" href="/admin/texts">
        <img src="/SVG/texts-icon.svg" />
        <p>Manage Texts</p>
        <p>&#8594;</p>
      </a>
    </div>
    <div class="nav-container">
      <a class="nav-a" href="/admin/partners">
        <img src="/SVG/partners-icon.svg" />
        <p>Manage Partners</p>
        <p>&#8594;</p>
      </a>
    </div>
    <div class="nav-container">
      <a class="nav-a" href="/admin/prices">
        <img src="/SVG/price-icon.svg" />
        <p>Manage prices</p>
        <p>&#8594;</p>
      </a>
    </div>
    <div class="nav-container">
      <a class="nav-a" href="/admin/gallery">
        <img src="/SVG/gallery-icon.svg" />
        <p>Gallery</p>
        <p>&#8594;</p>
      </a>
    </div>
    <div class="nav-container">
      <a class="nav-a" href="/admin/rules">
        <img src="/SVG/rules-icon.svg" />
        <p>Park rules</p>
        <p>&#8594;</p>
      </a>
    </div>
  </nav>
</header>
