<footer>
  <div class="upper-footer">
    <img src="/img/logo.png" alt="logo" />
    <div class="rules">
      <h1>Правила и поверителност</h1>
      <a href="/rules">Правила на парка</a>
      <a href="/privacy">Поликита за поверителност</a>
    </div>
    <div class="partners">
      <h1>Партньори</h1>
      <a href="#">Карика ЕООД</a>
      <a href="#">Още яки</a>
    </div>
  </div>
  <div class="lower-footer">
    <p>© 2023 Wake Park Welldoers. All rights reserved</p>
    <div class="social-links">
      <a class="facebook" href="#"
        ><img src="/img/facebook-social-logo.png" alt="facebook logo"
      /></a>
      <a class="twitter" href="#"
        ><img src="/img/twitter.png" alt="twitter logo"
      /></a>
    </div>
  </div>
</footer>
