<nav>
  <a href="/">
    <img class="logo" src="/img/logo.png" alt="Logo" />
  </a>
  <div class="navLinks">
    <a href="/">Начало</a>
    <a href="/park">Паркът</a>
    <a href="/prices">Цени</a>
    <a href="/friends">Приятели</a>
    <a href="/gallery">Галерия</a>
    <a href="/contacts">Контакти</a>
  </div>
</nav>

<img class="openButton" src="/img/menu.png" alt="open menu button" />
<div class="mobileMenu">
  <img class="closeButton" src="/img/clear.png" alt="close menu button" />
  <div class="links">
    <a href="/park">Паркът</a>
    <a href="/prices">Цени</a>
    <a href="/friends">Приятели</a>
    <a href="/contacts">Контакт</a>
    <a href="#" class="button1">Запази час</a>
  </div>
</div>
