<nav>
  <a href="/">
    <img class="logo" src="/img/logo.png" alt="Logo" />
  </a>
  <div class="navLinks">
    <a href="/">Начало</a>
    <a href="/park">Паркът</a>
    <a href="/prices">Цени</a>
    <a href="/friends">Приятели</a>
    <a href="/gallery">Галерия</a>
    <a href="/contacts">Контакти</a>
  </div>
</nav>
