@media screen and (max-width: 1620px) {
    .partner-logo {
        max-width: 20rem;
        gap: 1rem;
    }
}

@media screen and (max-width: 1300px) {
    .partners {
        grid-template-columns: 1fr 1fr;
        margin: 1rem 5rem;
    }

    .welcome-area h1 {
        font-size: 2rem;
        width: 50%;
        text-align: center;
    }
}

@media screen and (max-width: 800px) {
    .partners {
        grid-template-columns: 1fr;
        gap: 4rem;
    }

    .sub-h1 {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 500px) {
    .partner-logo {
        max-width: 15rem !important;
    }

    .welcome-area h1 {
        font-size: 1.5rem;
    }

    .partner-box h1 {
        font-size: 1.5rem;
    }

    .partners {
        margin: 1rem 2rem;
    }
}

@media screen and (max-width: 430px) {
    .partner-logo {
        max-width: 10rem !important;
    }
}