.logout {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
    width: 2rem;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.logout:hover {
    filter: opacity(0.5);
}

.welcome-h1 {
    margin-top: 5rem;
    text-align: center;
    font-weight: 100;
    font-size: 2.4rem;
    width: 100%;
}

.services {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.service {
    width: 70%;
    height: 7rem;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffffcd;
    box-shadow: 0 0 10px 0px #0000004d;
    border-radius: 10px;
};